# git
.git
.github
.gitignore

# Editor
.vscode
.editorconfig

# Node
**/node_modules
packages
lerna.json
package.json
yarn.lock

# Public
public/static
public/media
!public/.gitkeep

# Docker
docker-compose.yml

# Python
dist
.venv
*egg*
**/__pycache__
poetry.lock
pyproject.toml
setup.cfg

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log*