# Python
.venv
*.egg-info
**/__pycache__

# Databases
*.sqlite3

# Node
package-lock.json
node_modules
packages/**/node_modules

# Build
dist
packages/**/lib
packages/**/build

# Logs
*.log

# Minigest
public/static
public/media
!packages/**/public